#image{
    max-width: 100%;
    height: auto;
    display: block;
}
html{
    background-color: rgb(226, 43, 205);
    
}
h1{
    justify-content: center;
    font-size: 5em;
    font-weight: bold;

}
p{
    font-family: Tahoma;
    font-weight: 100;
}
#tribute-link:hover{
    color: brown;
}
